[project]
	description = Udemy Complete Node.js Development Course. Web server using express
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fawwaz Khayyat (Fawaz-Khayat)
[access "refs/for/refs/*"]
	read = group user/Fawwaz Khayyat (Fawaz-Khayat)
	push = group user/Fawwaz Khayyat (Fawaz-Khayat)
	label-Code-Review = -2..+2 group user/Fawwaz Khayyat (Fawaz-Khayat)
	label-Verified = -1..+1 group user/Fawwaz Khayyat (Fawaz-Khayat)
	rebase = group user/Fawwaz Khayyat (Fawaz-Khayat)
	removeReviewer = group user/Fawwaz Khayyat (Fawaz-Khayat)
	submit = group user/Fawwaz Khayyat (Fawaz-Khayat)
[access "refs/heads/*"]
	read = group user/Fawwaz Khayyat (Fawaz-Khayat)
	create = group user/Fawwaz Khayyat (Fawaz-Khayat)
	push = +force group user/Fawwaz Khayyat (Fawaz-Khayat)
	pushMerge = group user/Fawwaz Khayyat (Fawaz-Khayat)
[access "refs/tags/*"]
	push = group user/Fawwaz Khayyat (Fawaz-Khayat)
	push = +force group user/Fawwaz Khayyat (Fawaz-Khayat)
